
<!doctype html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
 		<meta name="author" content="">
		<title>Loan Page</title>
				  <!-- Scripts
		  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/github-prettify-theme.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}" type="text/css">
		<script src="{{ url_for('static',filename='js/site.js') }}"> </script>
		<script src="{{ url_for('static',filename='js/ga.js') }}"> </script>
		<script src="{{ url_for('static',filename='js/run_prettify.js') }}"> </script>
		
		
	</head>
	<body>
			  <!-- Primary Page Layout
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container">
			<section class="header">
			  <h2 class="title">Finding Value in Lending Club Data</h2>
	 
			</section>

		<!-- why care about my project? -->
		<div class="docs-section" id="intro">
		  <h6 class="docs-header">Current State of Consumer Loans</h6>
		  <p>You should use Skeleton if you're embarking on a smaller project or just don't feel like you need all the utility of larger frameworks. Skeleton only styles a handful of standard HTML elements and includes a grid, but that's often more than enough to get started. In fact, <u>this site is built on Skeleton and has ~200 lines of custom CSS</u> (half of which is the docking navigation).</p>
		  <p>Love Skeleton and want to Tweet it, share it, or star it? Well, I appreciate that &lt;3</p>

		</div>
		
		
			
		</div>
		
	</body>
</html>
